<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>Here's a new message for you!</p>
    <p>From: <%= data.name %></p>
    <p><%= data.message %></p>
  </body>
</html>
